.productInfo {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.thumbnailContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnailImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  transition: border 0.3s ease;
}

.thumbnailImage:hover {
  border: 2px solid #333;
}

.mainImage {
  max-width: 500px;
  height: auto;
}

.mainImageDisplay {
  min-height: 500px;
  min-width: 500px;
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  border-radius: 8px;
}

.noImage {
  font-size: 16px;
  color: #777;
}

/* Адаптивность для мобильных устройств */

/* Для экранов меньше 768px (мобильные устройства) */
@media (max-width: 768px) {
  .productInfo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .thumbnailContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
  }
  .mainImageDisplay {
    width: 200px;
    min-height: auto;
    min-width: auto;
  }
}
