/* Стили для навигации */
.navbarContainer {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #333;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: #333;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}

.navbar .logo:hover {
  color: #ffd700;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}

.navbar li {
  display: inline-flex;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 6px 12px;
  transition: all 0.3s ease;
  display: block;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: #555;
  color: #ffd700;
  transform: scale(1.1);
}

.active {
  background-color: #0056b3;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
}

.navbar .button {
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.navbar .button:hover {
  background-color: #555;
  color: #ffd700;
}

.cartLink {
  position: relative;
}

.badge {
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -10px;
}

/* Иконка корзины рядом с логотипом */
.cartIcon {
  display: none;
  position: relative; /* Добавим position для корректного позиционирования бейджа */
}

.cartIcon a {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartIcon .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 10px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

/* Стили для бургер-меню */
.burgerIcon {
  display: none;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  z-index: 1101;
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); /* Тёмный фон */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out; /* Плавное появление */
  z-index: 1100;
  opacity: 0; /* Скрыто по умолчанию */
  visibility: hidden; /* Скрыто по умолчанию */
}

.mobileMenu.open {
  opacity: 1; /* Меню становится видимым */
  visibility: visible;
}

.mobileMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mobileMenu a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 10px;
  transition: background 0.3s;
}

.mobileMenu a:hover {
  background: #444;
}

/* Стили для полосы-разделителя */
.mobileMenu hr {
  border: 0;
  height: 1px;
  background-color: #444;
  width: 80%;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .navbar .navLinks {
    display: none; /* Скрываем обычное меню на мобильных */
  }

  .navbar .burgerIcon {
    display: block; /* Показываем иконку бургера */
    padding-top: 4px;
  }

  .navbar .navLinks.open {
    display: flex; /* Показываем меню, когда оно открыто */
  }

  .cartIcon {
    display: block; /* Показываем иконку корзины рядом с логотипом */
  }

  .cartLink {
    display: none; /* Скрываем ссылку на корзину в обычном меню */
  }
}
