.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.productDetails {
  display: flex;
}

.sizeTypeSection {
  margin-top: 20px;
}

.sizeTypeButtons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.sizeTypeButtons button {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.sizeTypeButtons button.active {
  background-color: #333;
  color: white;
}

.addToCartButton {
  /* background-color: #28a745; */
  background-color: #1e7e34; /* Темно-зеленый */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.addToCartButton:hover {
  background-color: #218838;
}

.section {
  width: 100%;
  padding-left: 20px;
}

.breadcrumb {
  margin-bottom: 20px;
  font-size: 14px;
}

.breadcrumbLink {
  text-decoration: none;
  color: #0056b3;
  font-weight: bold;
  /* color: #007bff; */
}

.separator {
  margin: 0 5px;
}

.breadcrumbText {
  color: #333;
}

/* Стили для заголовка на мобильных */

.mobileTitle {
  display: none; /* Показываем заголовок для мобильных */
}

.desktopTitle {
  display: flex; /* Скрываем заголовок для мобильных */
}

@media (max-width: 768px) {
  .productDetails {
    display: flex;
    flex-direction: column;
  }

  .mobileTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
  }

  .desktopTitle {
    display: none; /* Показываем заголовок для десктопа */
  }

  .section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание по центру по горизонтали */
    text-align: center; /* Выравнивание текста по центру */
  }

  .sizeTypeButtons {
    justify-content: center;
    margin-bottom: 10px;
  }
  .sizeTypeSection {
    margin-top: 10px;
  }
}
