.sizeChart {
  padding-bottom: 15px;
}

.sizeChart h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Обычная таблица для десктопа */
.desktopTable {
  display: block;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.table td {
  background-color: #fff;
  font-size: 14px;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

/* Вертикальный вид для мобильных */
.mobileView {
  display: none; /* По умолчанию скрыто */
}

.sizeBlock {
  background: #f9f9f9;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
}

/* Для мобильных устройств */
@media (max-width: 600px) {
  .desktopTable {
    display: none; /* Прячем таблицу */
  }

  .mobileView {
    display: block; /* Показываем мобильный вид */
  }
}
